.Wrapper {
    width: 40%;
    padding: 20px;
    background-color:  rgb(232, 221, 221);
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    border-radius: 5px;
}
.heading {
    color: rgb(87, 76, 76);
}
.inner {
    margin-left: 30px;
    color: rgb(87, 76, 76);
}